%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:rel => "shortcut icon", :type => "image/png", :href => "/meta/favicon.ico"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    :css
      h4 p {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      }
      .card {
        --mask:
        conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/20.00px 51% repeat-x,
        conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/20.00px 51% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
      }
      .divider {
        border-width: 1px 0px 0px;
        border-right-style: initial;
        border-bottom-style: initial;
        border-left-style: initial;
        border-right-color: initial;
        border-bottom-color: initial;
        border-left-color: initial;
        border-image: initial;
        border-top-color: rgb(77, 79, 102);
        border-top-style: dashed;
        margin: 10px 0px;
      }
      .group {
        box-sizing: border-box;
        display: flex;
        flex-flow: wrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        gap: 16px;
      }
      .group-text {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        line-height: 1.5;
        margin: 0px;
        color: black;
        font-weight: 600;
      }
      [data-radix-scroll-area-viewport] {
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
      }
      .scrollBar {
        overflow: auto;
        width: 100%;
        height: 200px;
        padding-right: 10px;
        padding-bottom: 10px;
      }
      .table {
        min-width: 100%;
        display: table;
      }
      .table__section {
        box-sizing: border-box;
        display: flex;
        flex-flow: wrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        gap: 16px;
      }
      .table__products {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: -20px;
        color: black;
        font-weight: 300;
        width: 33.33%;
      }
      .table__quantity {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        line-height: 1.5;
        color: black;
        margin-bottom: -20px;
        font-weight: 300;
        width: 33.33%;
      }
      .table__price {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        line-height: 1.5;
        margin: 0px;
        margin-bottom: -20px;
        color: black;
        font-weight: 300;
        width: 33.33%;
      }
      .table__discount {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        line-height: 1.5;
        margin: 0px 15px 0px 0px;
        margin-bottom: -20px;
        color: black;
        font-weight: 300;
        width: 10%;
      }
      .group__total {
        box-sizing: border-box;
        display: flex;
        flex-flow: wrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        gap: 16px;
      }
      .group_text_total {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 18px;
        line-height: 1.45;
        margin: 0px;
        color: black;
        font-weight: 650;
      }
      .group_text_amount {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 18px;
        line-height: 1.45;
        margin: 0px;
        color: black;
        font-weight: 300;
        text-align: end;
      }

  %body{:style => "background-color: rgb(29, 30, 48);"}
    %div{:style => "height: 100vh; display: flex; align-items: center; justify-content: center;"}
      .container
        %div{:class => "row justify-content-center mt-6"}
          .col-12
            %div{:class => "card", :style => "max-width: 362px; margin: auto;"}
              .card-body
                .divider
                %h1{:class => "card-title text-center", :style => "font-size: 25px;"} DEVUELTO
                .divider
                %h1{:class => "card-title text-center", :style => "font-size: 25px;"} Datos del comprador
                %p{:class => "card-title text-center", :style => "font-size: 22px; font-weight: 350; margin: 0"} #{@order.x100_client.name}
                %p{:class => "card-title text-center", :style => "font-size: 20px; font-weight: 350; margin: 0"} #{@order.x100_client&.phone}
                %p{:class => "card-title text-center", :style => "font-size: 20px; font-weight: 350; margin: 0"} #{@order.x100_client&.dni}
                %p{:class => "card-title text-center", :style => "font-size: 20px; font-weight: 350; margin: 0"} #{@order.x100_client&.email}
                .divider
                .group
                  %p{:class => "group-text"} Número
                  %p{:class => "group-text"} Precio
                  %p{:class => "group-text"} PC. Combo
                .scrollBar
                  =image_tag '/logo-rifamax-new.png', :style => "width: 350px; position: absolute; top: 37%; left: 2%; z-index: -1; opacity: 0.1"
                  .table
                    %div{:class => "table__section"}
                      - if @order.status == 'refunded'
                        - @order.logs.each do |log|
                          %h6{:class => "table__products"}= log['id']
                          %h6{:class => "table__price text-start"}= "#{log['price']}#{log['money'] == 'USD' ? '$' : ' ' + @order.x100_raffle.money}"
                          %h6{:class => "table__discount text-end"}= "#{(@order.discount_rate_from_logs * 100).to_i}%"
                      - else
                        - @order.products.each do |product|
                          %h6{:class => "table__products"}= product
                          %h6{:class => "table__price text-start"}= "#{@order.x100_raffle.price_unit.to_i}#{@order.x100_raffle.money == 'USD' ? '$' : ' ' + @order.x100_raffle.money}"
                          %h6{:class => "table__discount text-end"}= "#{(@order.discount_rate * 100).to_i}%"
                .divider
                %p{:class => "card-title text-start", :style => "font-size: 15px; font-weight: 750; margin: 0"} Datos de la rifa:
                %p{:class => "card-title text-start", :style => "font-size: 15px; font-weight: 350; margin: 0"} #{@order.x100_raffle.title}
                %p{:class => "card-title text-start", :style => "font-size: 15px; font-weight: 350; margin: 0"} #{@order.x100_raffle.tickets_count} Números
                %p{:class => "card-title text-start", :style => "font-size: 15px; font-weight: 350; margin: 0"} #{@order.ordered_at.strftime('%d/%m/%Y - %l:%M%p')}
                %p{:class => "card-title text-start", :style => "font-size: 15px; font-weight: 350; margin: 0"} Rifa #{@order.x100_raffle.draw_type}
                .divider
                .group__total
                  %h5{:class => "group-text_total"} Total:
                  %h5{:class => "group-text_amount"}= (@order.amount).round(1).to_s + '0' + (@order.money == "USD" ? "$" : " #{@order.money}")
                .row
